<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <%= image_tag portfolio_item.thumb_image if !portfolio_item.thumb_image.nil? %>
<!--      <title><%#= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></title>-->
<!--      <rect width="100%" height="100%" fill="#55595c"/>-->
<!--      <text x="50%" y="50%" fill="#eceeef" dy=".3em"><%#= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></text>-->
    <div class="card-body">
      <p>
        <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %>
      </p>
      <p class="card-text">
        <%= portfolio_item.subtitle %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_portfolio_path(portfolio_item) if logged_in?(:site_admin) %></button>
          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Destroy", portfolio_path(portfolio_item), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></button>
        </div>
        <small class="text-muted">Published <%= distance_of_time_in_words(portfolio_item.created_at, Time.now) %> ago</small>
      </div>
    </div>
  </div>
</div>